/*
 * local style for block
 */

/** hover button stylesheet */
:local(.hoverBtn) {
    background-color: black;
    position: absolute;
    right: 0;
    opacity: 0;
    z-index: 1000;
    display: block;
}

:local(.hoverBtn:hover) {
    background-color: black;
    position: absolute;
    right: 0;
    opacity: 0.4;
    z-index: 1000;
    display: block;
}

/** card shadow */
:local(.blockShadow) {
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}

/** image fix aspect ratio */
:local(.fixedRatio:after) {
    content: "";
    display: block;
    padding-top: 56.25%;
}